// Header
.header_div 
    background-color: #5F7470
    margin: 0
    padding: 1rem 0.5rem

.header_right
    display: flex
    align-items: center
    justify-content: space-between
    width: 29rem

.header_left
    display: flex
    align-items: center
    justify-content: space-between

.header_nav 
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%

.header_logo 
    font-size: 1.7rem
    margin: 0 0 0 2.5rem
    color: white
    display: flex
    align-items: center
    

.header_container
    margin: auto 
    display: flex
    align-items: center
    justify-content: space-between

.header_hamburger_wrapper 
    display: none

.hamburger-btn
    padding: 0
    background: none
    border: none
    cursor: pointer

.header_list
    list-style-type: none

.header_list a 
    color: white
    font-size: 1rem
    margin: 0 1.5rem

.header_search
    margin-right: 1rem

.header_user
    margin: 0 2.5rem 0 0 


// Footer
.footer_div
    background-color: #5F7470
    padding: 3.5rem 0 1rem

.footer_div p 
    color: white

.footer_about_title, .footer_contact_title
    font-size: 1.3rem
    padding: 0.7rem 4.5rem

.footer_about_content, .footer_contact_content
    font-size: 1rem
    padding: 0.3rem 4.5rem

.footer_line1
    height: 0.05rem
    width: 45rem
    margin: 2vw 0 2vw 3.5rem
    background-color: white

.footer_line2
    height: 0.05rem
    width: 95%
    margin: 2vw auto 1.5vw
    background-color: white

.footer_copyright
    text-align: center
    font-size: 1rem
    color: #ADADAD !important

.divider
    background: white
    height: 1rem

.mobile_nav
    display: none

@media screen and (max-width: 1024px)
    .header_right
        width: 100
    .header_logo 
        font-size: 1.7rem
        margin: 0 0 0 6rem

    .header_hamburger_wrapper 
        display: flex

    .header_logo_div
        justify-content: center

    .header_nav_wrapper, .header_user
        display: none
      
    .footer_line1
        width: 80%
      
@media screen and (max-width: 700px)
    .mobile_nav
        display: initial
    
    


