.home_div
    margin: 0
    padding: 0

.home_backcolor
    background-color: #889696 
    height: 30vw
    width: 100%
    position: absolute
    z-index: -5

.home_main
    padding: 7vw 0

.home_dashboard
    width: 95%
    margin: 2vw auto 0
    background-color: #BCB8B1
    padding: 3vw 10vw
    border-radius: 10px
    box-shadow: 0 5px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22)
    height: 30vw

.home_title 
    color: white
    font-size: 4vw
    text-align: center

.home_content
    width: 75%
    margin: auto
    display: flex
    // grid-template-columns: auto auto auto auto
    // background-color: #2196F3
    padding: 0
    justify-content: center
    flex-wrap: wrap

// .home_content
//     width: 80%
//     margin: auto
//     display: grid
//     grid-template-columns: auto auto auto auto
//     background-color: #2196F3
//     padding: 0
//     justify-content: space-evenly

.home_cards
    margin: 1rem
    width: 14rem
    height: 21rem

.home_card_title
    margin: 0.5rem 0
    text-align: center
    
.home_card_media
    width: 95%
    height: 10rem
    background-color: grey
    margin: 0 auto

.home_pagination_div
    width: 75%
    margin: 2rem auto 10rem auto

.home_pagination
    float: right
    

@media screen and (max-width: 1440px)
//     .home_cards
//         margin: 0.5rem
//         width: 14rem
//         height: 20rem

//     .home_card_media
//         width: 90%
//         height: 9rem
//         margin: 1vw auto 0

@media screen and (max-width: 1024px)
    .home_content
        width: 85%
//     .home_content
//         width: 80%
//         margin: auto
//         display: grid
//         grid-template-columns: auto auto auto
//         background-color: #2196F3
//         padding: 0
//         justify-content: space-evenly

@media screen and (max-width: 700px)
    .home_content
        width: 95%




    

