.newpost
    width: 60rem
    margin: 2rem auto
    
.newpost_form
    background-color: #E4DED5
    padding: 3rem
    margin: 1rem auto
    border-radius: 10px

.newpost_title
    font-size: 2rem
    margin: 3rem 0 0 3rem
    font-weight: 500

.newpost_form_label
    font-size: 1.3rem
    font-weight: 600
    margin: 0.5rem 0.7rem 0
    
.newpost_form_element 
    width: 100%
    background-color: white
    border-radius: 5px
    margin: 0.5rem auto

.newpost_form_lasttime
    display: flex
    justify-content: space-between

.newpost_form_element_dt
    width: 49%
    margin: 0.5rem 0

.newpost_form_lostinfo
    display: flex
    justify-content: space-between

.newpost_form_lostinfo_element
    width: 15%
    margin: 0.5rem 0

.newpost_form_image
    width: 100%
    background-color: white
    border-radius: 5px
    margin: 0.5rem auto
    height: 3.5rem
    padding: 1rem

.newpost_button_next
    background-color: #B8BDB5
    color: black
    margin: 1rem 0 1rem 1rem
    width: 6.5rem
    height: 1.6rem
    font-size: 0.7rem
    // width: 4.5rem

.newpost_button_submit
    background-color: #5F7470
    color: white

.newpost_buttons
    margin-top: 1rem
    display: flex
    justify-content: flex-end

// .myimage[type="file"] 
//     visibility: hidden
//     width: 1px
//     height: 1px

.post_mobile
    display: none

@media screen and (max-width: 1024px)
    .newpost
        width: 95vw
        
    .newpost_form
        padding: 5vw
        margin: 1vw auto

    .newpost_title
        font-size: 3vw
        margin: 5vw 0 0 5vw

    .newpost_form_label
        font-size: 2vw
        margin: 0.8vw 1.2vw 0
        
    .newpost_form_element 
        margin: 0.9vw auto

    .newpost_form_element_dt
        margin: 0.9vw 0

    .newpost_form_lostinfo_element
        margin: 0.9vw 0

    .newpost_form_image
        margin: 0.9vw auto
        height: 6vw
        padding: 2vw

    .newpost_button_next
        margin: 1.5vw 0 1.5vw 1.5vw
        width: 6.5rem

    .newpost_buttons
        margin-top: 1.6vw

@media screen and (max-width: 700px)
    .post_web
        display: none
    .post_mobile
        display: initial

    .newpost
        width: 90%
        margin: 6vw auto

    .newpost_form
        padding: 3vw
        margin: 1rem auto 20vw
        border-radius: 10px
        min-height: 70vw
        display: flex
        flex-direction: column
        justify-content: space-between

    .newpost_title
        font-size: 4.5vw
        margin: 3vw 0 0 3vw
        font-weight: 500
        text-align: center

    .newpost_form_label
        font-size: 4.5vw
        font-weight: 600
        margin: 0.5vw 0 3vw
        text-align: center
        
    .newpost_form_element 
        width: 100%
        background-color: white
        border-radius: 5px
        margin: 1vw auto
        font-size: 2vw

    .newpost_form_lasttime
        display: flex
        justify-content: space-between

    .newpost_form_element_dt
        width: 49%
        margin: 1vw 0

    .newpost_form_lostinfo
        display: flex
        justify-content: space-between

    .newpost_form_lostinfo_element
        width: 15%
        margin: 1vw 0

    .newpost_form_image
        margin: 1vw auto
        height: 12vw
        padding: 3vw

    .newpost_button_next
        margin: 1vw
        width: 40vw
        font-size: 2.5vw
        height: 2.3rem

    .newpost_buttons
        margin-top: 6vw
        display: flex
        justify-content: flex-end
        margin-bottom: 10vw

    .newpost_pages
        margin-top: 10vw
