.boxwrapper
    top: 100px
    width: 100%
    height: auto
    z-index: 1
    position: absolute
    padding-bottom: 25px

.iconWrapper 
    width: 45%
    position: absolute
    z-index: 1

.printIcon 
    padding: 15px
    position: absolute

.shareIcon
    float: right
    padding: 15px
    

.printIcon:hover, .shareIcon:hover
    cursor: pointer


.box 
    width: 45%
    background-color: #FAFAFA
    margin: auto
    height: auto

.red
    color: red
    text-align: center
    width: 100%
    position: relative
    top: 8px

.name
    text-align: center
    color: black    

.img
    width: 30%
    height: 30%
    text-align: center
    margin: auto
    display: block

.grid
    display: grid
    grid-template-columns: 1fr 1fr
    height: 200px

.listitem
    list-style-type: none
    text-decoration: none

.listitemsub
    padding-left: 5px
    font-size: 5px